@import "tailwindcss";

:root {
    /* font-family: "Poppins", "sans-serif"; */
    box-sizing: border-box;
  }

@theme {
    --color-neutral-text : rgba(17, 25, 39, 1);
    --color-primary: rgba(10, 86, 187, 1);
    
    /* bg color */
    --color-bg-medium: rgba(249, 250, 251, 1);

    /* border color */
    --color-border-natural: rgba(229, 231, 235, 1);
}